<!-- the map page -->
<div class="px-4 sm:px-10 py-10 font-sans-serif">
  <div class="grid grid-cols-1 sm:grid-cols-5 sm:grid-rows-2">
    <div class="sm:col-span-2 overflow-hidden">
      <div class="flex justify-center align-middle py-5">
        <!-- Welcome Text Box -->
        <p
          class="flex justify-center align-middle px-5 py-5 text-gray-900 border border-gray-900 bg-white"
        >
          Welcome to FillItUp, we are a price comparison site that focuses on
          saving you money for your daily expense on fuel. All you have to do is
          enter your location or enable you location on our site to show you the
          best savings. It will show you the top 5 closest fuel station near
          your location. And It will show you the price of petrol and diesel at
          every fuel station you requested for. Time to make change in bad
          habits and make second guesses.
        </p>
      </div>
      <!-- The Buttons to interact with the map -->
      <div class="flex justify-around">
        <!-- enter location button -->
        <output
          class="basis-4/6 bg-white text-gray-800 border border-red-700 py-2 px-4 rounded-lg inline-flex items-center"
        >
          <img
            class="w-8 h-8 mr-2"
            src="assets/img/fuelLogo.png"
            alt="Fuel Price Logo"
          />
          <AutocompleteComponent
            (setAddress)="getAddress($event)"
            adressType="address"
          ></AutocompleteComponent>
        </output>
        <!-- use current location button -->
        <button
          (click)="useCurrentLocation()"
          class="basis 1/6 text-red-700 py-2 px-4 rounded inline-flex items-center"
        >
          <img class="w-8 h-8" src="assets/img/NavLogo.png" alt="Nav Logo" />
          <span class="opacity-0 sm:opacity-100">Use Current Location</span>
        </button>
      </div>
      <!-- border & container for results -->
      <hr class="my-6 border-black" />

    </div>
    <div
    class="flex flex-col align-middle sm:row-start-2 sm:col-span-2 sm:row-span-2 gap-y-3 h-max-12 overflow-scroll"
  >
    <div
      *ngFor="let location of locations.slice(0, 5)"
      class="bg-blue-500 text-black border border-black px-5 py-3 rounded-2xl inline-flex items-center"
    >
      <img class="w-8 h-8" src="assets/img/FuelLogo2.png" alt="Fuel Logo" />
      <span
        (click)="openInfoWindow(location)"
        class="pl-5 transition ease-in-out duration-0.3 hover:text-white cursor-pointer"
        >{{ location.place.name }}, {{ location.place.vicinity }}</span
      >
    </div>
  </div>
    <div class="sm:col-span-2 sm:row-span-2 sm:col-start-4">
      <!-- display of the map itself -->
      <div class="w-64 h-64 mt-4 mx-auto sm:w-full sm:h-full">
        <google-map width="100%" height="100%" [center]="center" [options]="options">
          <map-marker
            *ngFor="let place of locations.slice(0, 5)"
            [position]="place.marker.position"
            [label]="place.marker.label"
            [title]="place.marker.title"
            [icon]="place.marker.icon"
            [options]="place.marker.options"
            (mapClick)="openInfoWindow(place)"
          ></map-marker>
        </google-map>
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="showModal"
  class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
>
  <!-- display of the search results itself -->
  <div class="w-full sm:w-1/2 md:w-1/2 xl:w-1/4 p-4 text-black">
    <div class="c-card block bg-white shadow-md rounded-lg overflow-hidden">
      <div class="p-4">
        <h2 class="mt-2 mb-2 font-bold">{{ modalData.place.name }}</h2>
        <p class="text-sm">{{ modalData.place.vicinity }}</p>
        <div class="mt-3 flex items-center">
          <ul>
            <li>
              <span class="font-semibold text-lg mt-2"
                ><a class="bold">Unleaded:</a>
                {{ modalData.prices.unleaded }}</span
              >&nbsp;<span class="text-sm font-semibold">pence per litre</span>
            </li>
            <li>
              <span class="font-semibold text-lg mt-2"
                ><a class="bold">Super Unleaded:</a>
                {{ modalData.prices.superUnleaded }}</span
              >&nbsp;<span class="text-sm font-semibold">pence per litre</span>
            </li>
            <li>
              <span class="font-semibold text-lg mt-2"
                ><a class="bold">Diesel:</a> {{ modalData.prices.diesel }}</span
              >&nbsp;<span class="text-sm font-semibold">pence per litre</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="p-4 flex items-center text-sm text-gray-600">
        <svg
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 fill-current text-yellow-500"
        >
          <path
            d="M8.128 19.825a1.586 1.586 0 0 1-1.643-.117 1.543 1.543 0 0 1-.53-.662 1.515 1.515 0 0 1-.096-.837l.736-4.247-3.13-3a1.514 1.514 0 0 1-.39-1.569c.09-.271.254-.513.475-.698.22-.185.49-.306.776-.35L8.66 7.73l1.925-3.862c.128-.26.328-.48.577-.633a1.584 1.584 0 0 1 1.662 0c.25.153.45.373.577.633l1.925 3.847 4.334.615c.29.042.562.162.785.348.224.186.39.43.48.704a1.514 1.514 0 0 1-.404 1.58l-3.13 3 .736 4.247c.047.282.014.572-.096.837-.111.265-.294.494-.53.662a1.582 1.582 0 0 1-1.643.117l-3.865-2-3.865 2z"
          ></path>
        </svg>
        <span class="ml-2">{{ modalData.place.rating }}</span>
        <a
          (click)="showModal = false"
          class="text-gray-400 hover:text-gray-500 hover:underline ml-auto cursor-pointer"
          >Close</a
        >
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
