<!-- the account details pages -->
<!-- centers page and aligns everything so is responsive -->
<div class="container mx-auto">
  <div class="inputs w-full max-w-2xl p-6 mx-auto">
    <h2 class="text-2xl text-gray-900 text-center bold mb-5">Personal info</h2>
    <div class="flex items-center justify-between mt-4">
      <div class="w-full md:w-1/2 px-3 mb-6">
        <!-- displays the input boxes for manage account-->
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          >first name</label
        >
        <input
          class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
          value="John"
          type="text"
          disabled
        />
      </div>
      <div class="w-full md:w-1/2 px-3 mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          >last name</label
        >
        <input
          class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
          value="Doe"
          type="text"
          disabled
        />
      </div>
    </div>
    <div class="w-full md:w-full px-3 mb-6">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        >user name</label
      >
      <input
        class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
        value="john.doe.100"
        type="text"
        disabled
      />
    </div>
    <div class="w-full md:w-full px-3 mb-6">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        >email</label
      >
      <input
        class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
        value="john.doe@fillitup.com"
        type="text"
        disabled
      />
    </div>
    <div class="w-full md:w-full px-3 mb-6">
      <label
        class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
        >password</label
      >
      <input
        class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
        type="password"
        value="password123"
        required
        disabled
      />
    </div>
    <div class="flex justify-end">
      <button
        class="appearance-none bg-blue-500 text-white px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3"
        disabled
      >
        Save Changes
      </button>
    </div>
  </div>
  <!-- displays the input boxes for change password -->
  <hr class="my-6 border-black px-10" />
  <div class="container mx-auto">
    <div class="inputs w-full max-w-2xl p-6 mx-auto">
      <h2 class="text-2xl text-gray-900 text-center bold mb-5">
        Change Password
      </h2>
      <div class="flex items-center justify-between mt-4">
        <div class="w-full md:w-1/2 px-3 mb-6">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            >Current Password</label
          >
          <input
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
            value="password123"
            type="password"
            disabled
          />
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            >New Password</label
          >
          <input
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
            value="password1234new"
            type="password"
            disabled
          />
        </div>
      </div>
      <div class="w-full md:w-full px-3 mb-6">
        <label
          class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
          >Confirm New Password</label
        >
        <input
          class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
          value="password1234new"
          type="password"
          disabled
        />
      </div>
      <div class="flex justify-end">
        <button
          class="appearance-none bg-blue-500 text-white px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3"
          disabled
        >
          Save Changes
        </button>
      </div>
    </div>
    <!-- displays the input boxes for delete your data-->
    <hr class="my-6 border-black px-10" />
    <div class="container mx-auto">
      <div class="inputs w-full max-w-2xl p-6 mx-auto">
        <h2 class="text-2xl text-gray-900 text-center bold mb-5">
          Delete your Data
        </h2>
        <div class="flex items-center justify-between mt-4">
          <div class="w-full md:w-1/2 px-3 mb-6">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              >Enter Email</label
            >
            <input
              class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
              value="john.doe@fillitup.com"
              type="text"
              disabled
            />
          </div>
          <div class="w-full md:w-1/2 px-3 mb-6">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              >Enter Password</label
            >
            <input
              class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
              value="password1234new"
              type="password"
              disabled
            />
          </div>
        </div>
        <div class="w-full md:w-full px-3 mb-6">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            >Type "Yes I Want To Delete My Data" To Delete Your Data</label
          >
          <input
            class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none focus:border-gray-500"
            value="Yes I Want To Delete My Data"
            type="text"
            disabled
          />
        </div>
        <div class="flex justify-end">
          <button
            class="appearance-none bg-red-500 text-white px-2 py-1 shadow-sm border border-gray-400 rounded-md mr-3"
            disabled
          >
            Delete Data
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
