<!-- aligns the page to center and creates css grid -->
<div class="px-10 py-10 font-sans-serif">
  <div class="flex-1 max-w-4x1 mx-auto">
    <div
      class="sm:grid-cols-3 sm:grid-rows-1 sm:gap-x-10 lg:grid grid-cols-1 lg:gap-"
    >
      <div
        class="flex flex-col align-middle bg-white border border-black font-bold py-5 px-5"
      >
        <!-- displays image for the petrol and creates css grid-->
        <h1 class="text-white bg-gray-400 px-10 py-3">Petrol</h1>
        <img
          class="py-5"
          src="assets/img/brandPetrol.png"
          alt="Fuel Example Image"
        />
        <!-- displays text for the petrol and creates css grid-->
        <p class="py- 0 5 text-black">
          Petroleum is a liquid mixture of hydrocarbons. This liquid is found in
          certain layers of rock, can be extracted and refined for use as fuel.
          Kerosene gasoline and petroleum are some of the derivatives of
          petroleum.
          <br /><br />
          It is viscous, flammable and can also be converted to a variety of raw
          materials through derivative products right from asphalt to paraffin
          wax. The definition of petroleum is based on the viscosity and weight
          of the liquid. This is the usage of the term of light, medium and
          heavy. If suffer free oi is found. It is said to be sweet. In the
          presence of sulphur. The final product is said to be acidic.
          <br /><br />
          One of the most popular commodities that inspire our lifestyle today
          is the light, sweet crude oil, which is petroleum with the properties
          described by its name. the strengths and weakness of oil lead us in
          two extreme directions. On the other hand, frequent use of this
          resource can cause long term damage to the planet.
        </p>
      </div>
      <!-- displays image for diesel and creates css grid -->
      <div
        class="flex flex-col align-middle bg-white border border-black font-bold py-5 px-5"
      >
        <h1 class="text-white bg-gray-400 px-10 py-3">Diesel</h1>
        <img
          class="py-5"
          src="assets/img/brandDiesel.png"
          alt="Fuel Example Image"
        />
        <!-- displays text for the diesel and creates css grid-->
        <div class="py- 0 5 text-black">
          DERV, which stands for Diesel Engine Road Vehicle, is a liquid fuel
          product that can be used in any diesel engine but is more commonly
          used in on-road vehicles to keep fleets moving. It is also commonly
          known as road diesel and white diesel.
          <br /><br />
          Yes, you may have heard DERV referred to as;
          <ul>
            <li>• Diesel</li>
            <li>• Road diesel</li>
            <li>• Road DERV</li>
            <li>• White diesel</li>
            <li>• Ultra-low sulphur diesel (ULSD)</li>
          </ul>
          <br />
          Although DERV is known by a few different names, they all refer to the
          same fuel.
          <br /><br />
          Diesel more fuel efficient With improved fuel efficiency over other
          gasoline-fueled vehicles, with a diesel vehicle, it is likely that you
          will have to make fewer trips to the pump. More specifically, a diesel
          vehicle will provide approximately 30% more miles per gallon than a
          vehicle of the same size that runs on gas. So this is one method of
          saving some money – on top of extending your time away from those gas
          service stations.
        </div>
      </div>
      <!-- displays image for hydrogen and creates css grid -->
      <div
        class="flex flex-col align-middle bg-white border border-black font-bold py-5 px-5"
      >
        <h1 class="text-white bg-gray-400 px-10 py-3">Hydrogen</h1>
        <img
          class="py-5"
          src="assets/img/brandHydrogen.png"
          alt="Fuel Example Image"
        />
        <!--displays text for hydrogen and displays css grid-->
        <p class="py- 0 5 text-black">
          Hydrogen cars, also referred to as Fuel Cell Vehicles (FCEVs), use
          fuel cells to convert oxygen and hydrogen into electrical energy. This
          is done by separating electrons from hydrogen molecules; these
          electrons constitute the electricity drives the car via an electric
          motor. The only by-product of this chemical reaction is water.
          <br /><br />
          Most hydrogen fuel cell cars also have a small lithium-ion battery
          (similar to what you get in a hybrid car) to store electrical energy
          as it is generated by the fuel cells.
          <br /><br />
          The refuelling process for hydrogen cars is just as simple as in a
          petrol car; you pull up at the refilling station, fit the nozzle to
          the car and wait for around three to five minutes for the tanks to
          fill. The hydrogen in these tanks is stored at around 10,000psi –
          roughly 30 times the pressure of a car tyre.
        </p>
      </div>
    </div>
  </div>
</div>
